<!DOCTYPE html>
<head>
    <!-- Plotly.js -->
    <script src="../js/plotly-latest.min.js"></script>
</head>

<body>

<!-- Plots go in blank <div> elements.
    You can size them in the plot layout,
    or give the div a size as shown here.
-->

<h1> {{pcmTitle}} </h1>
<div id="summary">
    <pre>
        X: {{xFeature}}
        Y: {{yFeature}}
        Z (bubble, if any): {{zFeature}}
    </pre>
    <h2>Basic insights:</h2>
    <pre>
         {{basicSummary}}
    </pre>
</div>
<div id="tester" style="width:90%;height:800px;"></div>

<script>

    TESTER = document.getElementById('tester');

Plotly.plot( TESTER, [{mode: "markers", {{pcmData}} }], {
    margin: { t: 20 },
     xaxis: {
         title: '{{xFeature}}'
    },
      yaxis: {
        title: '{{yFeature}}',

      },
    }, {displayModeBar: true} );

/* Current Plotly.js version */
console.log( Plotly.BUILD );
</script>



</body>

</html>