<!DOCTYPE html>
<head>
    <!-- Plotly.js -->
    <script src="../js/plotly-latest.min.js"></script>
</head>

<body>

<!-- Plots go in blank <div> elements.
    You can size them in the plot layout,
    or give the div a size as shown here.
-->

<h1> {{pcmTitle}} </h1>
<div id="summaryParameters">
    <pre>
        X: {{xFeature}}
        Y: {{yFeature}}
        Z (bubble, if any): {{zFeature}}
    </pre>
</div>
<div id="tester" style="width:90%;height:500px;"></div>


<div id="insights">
    <h2>Basic insights:</h2>
    <pre>{{basicSummary}}</pre>
</div>

<script>


    // data of the PCM
    var pcmData = {{pcmData}};
    var x = pcmData['x'];
    var y = pcmData['y'];
    var marker = pcmData['marker']; // bubble size

    var datum;
    if (typeof marker === 'undefined') {
        datum = [{mode: "markers",  x, y}];
    }
    else {
        datum = [{mode: "markers",  x, y, marker}];
    }

    function depictProductChart() {
        TESTER = document.getElementById('tester');

        Plotly.plot( TESTER, datum, {
            margin: { t: 20 },
             xaxis: {
                 title: '{{xFeature}}'
            },
              yaxis: {
                title: '{{yFeature}}',

              },
            }, {displayModeBar: false} );

        /* Current Plotly.js version */
        console.log( Plotly.BUILD );
    }

    depictProductChart();
</script>



</body>

</html>